.gameImage {
  transition: transform ease-in-out 0.1s;
  transition: box-shadow 0.1s;
}

.gameImage:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 4px 4px 20px rgba(33, 33, 33, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
