.gameImage div {
  transition: ease-in-out 0.08s;
}

.gameImage div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gameImage::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.8s ease-in-out;
}
